<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Вход</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content = "text/html; charset=UTF-8" />
</head>

<body>
<div class = "d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Список разделов</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class = "p-2 text-dark" href="/chapters">Разделы</a>
    <a class = "p-2 text-dark" href="/">Вход</a>
    <a class = "p-2 text-dark" href="/register">Регистрация</a>
    <a class = "p-2 text-dark" th:href = "'/chapters/' + ${chaptersAttr} + '/' + ${themeId}">
      Назад к теме
    </a>
  </nav>
</div>


<div class = "container mt-5 mb-5">
  <h1>Активность</h1>
  <div th:each="el : ${statistic}" classes = "alert alert-info mt-2">
    <h2 th:text = "${el.getActivity()}"/>
    <h3 th:text = "${el.getId()}"/>
    <h3 th:text = "${el.getDate()}"/>
  </div>
</div>
</body>